@(joinForm: Form[_], addrLacations: java.util.Map[String, String])

@import helper._
@import mk.ck.energy.csm.controllers._
@import mk.ck.energy.csm.models.AddressTop

@main(Messages("playauthenticate.profile.join_consumer.electricity"), "joinConsumer") {
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("playauthenticate.profile.join_consumer.electricity")</h3>
    </div>
    <div class="panel-body">
      
      @helper.form(routes.Account.doJoinConsumerElectricity, 'class -> "form") {
        @if(joinForm.hasGlobalErrors) {
          <div class="alert alert-danger">@joinForm.globalError.message</div>
        }
        <div class="text-center"><h3><font color="blue">@Messages("page.profile.consumer.description")</font></h3></div><br/>
        
        <div class="row">
          <div class="col-md-2 col-sm-2">
            @inputText(
              joinForm("id"),
              '_label -> Messages("page.profile.consumer.id"),
              'size -> 10,
              'class -> "form-control"
            )
          </div>
          
          <div class="col-md-7 col-sm-7">
            @inputText(
              joinForm("fullName"),
              '_label -> Messages("page.profile.consumer.fullname"),
              'size -> 35,
              'class -> "form-control"
            )
          </div>
          
          <div class="col-md-3 col-sm-3">
            <label>@Messages("page.profile.consumer.addressTop")</label>
            @defining(AddressTop.getMap(0)) { map =>
              @if(map != null) {
                <select id="topAddress" name="topAddress.id" >
                  <option value="0" selected>---select something---</option>
                  @for((key,value) <- map) {
                    <option value="@key">@value</option>
                  }
                </select>
              }
            }
            
          </div>
          
          <div class="col-md-3 col-sm-3">
            <label>@Messages("page.profile.consumer.addressBottom")</label>
                <select id="bottomSelect" name="bottomAddress.id" >
                </select>
          </div>
        </div>
        <hr/>
      }
    </div>
    
  </div>
<script src='@controllers.routes.Assets.at("js/join-consumer.js")'></script>
}
      