@(addrForm: Form[mk.ck.energy.csm.controllers.AccountTools.AddrPlace], items: Seq[_] )

@import helper._

@main(Messages("page.home.testAddr")) {
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.home.title")</h3>
    </div>
    <div class="panel-body">
    
      @helper.form(mk.ck.energy.csm.controllers.routes.AccountTools.doTestPlaceAddress, 'class -> "form") {
        
        @if(addrForm.hasGlobalErrors) {
          <div class="alert alert-danger">@addrForm.globalError.message</div>
        }
        
        <div class="row">
          <div class="col-md-2 col-xs-2">
            @inputText(
              addrForm("id"),
              '_label -> Messages("Id"),
              'size -> 4,
              'disabled -> "disabled"
            )
          </div>
          <div class="col-md-5 col-xs-5">
            @_selectPartial(addrForm, "streetType", mk.ck.energy.csm.models.StreetType.optionsFullname(), Messages("street.type"))
          </div>
          <div class="col-md-3 col-xs-3">
             @inputText(
              addrForm("street"),
              '_label -> Messages("Street")
            )
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-10 col-xs-10">
            <input type="submit" value="Test Address" class="btn btn-info">
          </div>
        </div>
        
        @if(items != null ) {
          <div class="row">
            @items.map { item =>
            <div class="col-md-10 col-xs-10">
              @item
            </div>
            }
          </div>
        }
        <br/>
      }
    </div>
     
  </div>
}